<div class="editor-row">
    <div class="section gf-form-group">
        <h5 class="section-heading">Values</h5>
        <p>Select the statistic to represent on the SVG resource. </p>
        <div class="gf-form-inline">
            <div class="gf-form">
                <label class="gf-form-label width-6">Stat</label>
                <div class="gf-form-select-wrapper width-12">
                  <select class="gf-form-input"
                      ng-model="ctrl.panel.dataProcessing.valueStat"
                      ng-options="f.value as f.text for f in ctrl.panel.dataProcessing.valueStatOptions"
                      ng-change="ctrl.refresh()"></select>
                </div>
                <span class="gf-form-label width-12">
                    <a ng-click="editor.toggleDescVisibility()">
                    {{ ctrl.panel.dataProcessing.showDescription===true?'Hide descriptions':'Show descriptions' }}</a>
                </span>
            </div>
        </div>
    </div>
    <div class="section gf-form-group" ng-show="ctrl.panel.dataProcessing.showDescription">
        <h5 class="section-heading">Available statistics</h5>
        <p>A complete list of available statistics for incoming data.</p>
        <ul>
          <li ng-repeat="stat in ctrl.panel.dataProcessing.valueStatOptions">
            <b>{{ stat.text }}</b> <br> {{ stat.desc }}
          </li>
        </ul>
    </div>
</div>
