<div class="editor-row">
    <div class="section gf-form-group">
        <h5 class="section-heading">Svg Resources</h5>

        <div class="gf-form-inline">
            <div class="gf-form">
                <label class="gf-form-label width-6">Route</label>
                <input class="gf-form-input"
                     ng-model="ctrl.panel.render.mapRoute"
                     ng-change="editor.actualizarMapa()"></input>
            </div>
        </div>
    </div>
    <div class="section gf-form-group">
        <h5 class="section-heading">Coloring</h5>
            <input type="radio" name="status" data-ng-value="true"
                ng-model="ctrl.panel.render.discrete_continuous"
                ng-change="editor.actualizarColores()"> Discrete </input>
            <input type="radio" name="status" data-ng-value="false"
                ng-model="ctrl.panel.render.discrete_continuous"
                ng-change="editor.actualizarColores()">  Continuous</input>

            <div ng-show="ctrl.panel.render.discrete_continuous == true">
                <div class="gf-form">
                    <label class="gf-form-label width-6">Thresholds</label>
                    <input class="gf-form-input width-4"
                           ng-model="ctrl.panel.render.thresholds[0]"
                        ng-change="ctrl.render()"></input>
                    <input class="gf-form-input width-4"
                           ng-model="ctrl.panel.render.thresholds[1]"
                        ng-change="ctrl.render()"></input>
                </div>
            </div>

            <div ng-show="ctrl.panel.render.discrete_continuous == false">
                <div class="gf-form">
                    <label class="gf-form-label width-6">Domain</label>
                    <input class="gf-form-input width-4"
                        ng-model="ctrl.panel.render.domain[0]"
                        ng-change="ctrl.render()"></input>
                    <input class="gf-form-input width-4"
                        ng-model="ctrl.panel.render.domain[1]"
                        ng-change="ctrl.render()"></input>
                    <input class="gf-form-input width-4"
                        ng-model="ctrl.panel.render.domain[2]"
                        ng-change="ctrl.render()"></input>
                </div>
            </div>
            <div class="gf-form">
                <label class="gf-form-label width-8">Colors</label>
                    <spectrum-picker ng-model="ctrl.panel.render.colors[0]" ng-change="editor.cambiarColor()"></spectrum-picker>
                    <spectrum-picker ng-model="ctrl.panel.render.colors[1]" ng-change="editor.cambiarColor()"></spectrum-picker>
                    <spectrum-picker ng-model="ctrl.panel.render.colors[2]" ng-change="editor.cambiarColor()"></spectrum-picker>
                    <!--
                    <color-picker color="color" onChange="editor.cambiarColor($index)">
                        <div class="sp-replacer sp-light">
                        <div class="sp-preview"><div class="sp-preview-inner" ></div></div>
                        </div>
                      -->
                <span class="gf-form-label">
                    <a  ng-click="editor.invertirColores()">Invert</a>
                </span>
            </div>
    </div>
</div>
